name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches_ignore: []

jobs:
  linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0
      - name: Lint Code Base
        uses: github/super-linter@v4
        env:
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_BASH_EXEC: false
          VALIDATE_BASH: false
          VALIDATE_SHELL_SHFMT: false
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  testing:
    name: Testing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Download benchmark
        uses: ./
        with:
          task: download
          benchmark-name: dummy
      
      - name: Eval benchmark
        uses: ./
        id: eval
        with:
          task: eval
          benchmark-name: dummy
          results-path: bar.txt
      
      - env:
          REPORT: ${{ steps.eval.outputs.report }}
        run: |
          cat $REPORT